body {
    background-color: #0E0E0E;
    width: 100%;
    margin: 0 auto;
}

.content {
    width: calc(100% - 460px);
    margin: 0 auto;
}
.header {
    display: flex;
    padding-top: 46px;

    justify-content: space-between;
}
.logo {
    height: 33px;
}

.call-img {
    padding: 10px 25px 10px 50px;
    background-image: url('../img/call.png');
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 28px;
    color: #E4B564;
    border: 1px solid;
    border-color: #E4B564;
    text-decoration: none;
}



.title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 120px;
}

.title-park {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 161px;
}
.text-title {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    color: #FFFFFF;
}

.grid {
    display: grid;
    height: 936px;
    margin-top: 41px;
    grid-gap: 30px;
    grid-template-columns: repeat(6, 1fr);
}

.item-1 {
    background-color: #634F2C;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.item-2 {
    background-color: #B4A385;
    grid-column-start: 3;
    grid-column-end: 5;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.item-3 {
    background-color: #E4B564;
    grid-column-start: 5;
    grid-column-end: 7;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.item-4 {
    background-color: #635A4A;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.item-5 {
    background-color:  #B08C4D;
    grid-column-start: 4;
    grid-column-end: 7;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}

.park {
    margin-top: 94px;
}

.park-list {
    display: flex;
    justify-content: space-between;

}

.park-list>li {
    width: calc(100% / 3);
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}
.park-list>li>p {
    padding-top: 40px;
    padding-left: 45px;
    box-sizing: border-box;


}
.park-item1 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-right: 15px;

}


.car-item1 {
    height: 313px;
    background: #0E0E0E;

}

.car-item2 {
    height: 560px;
    background-color: #1F1F1F;

}

.park-item2 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 15px;
}

.car-item3 {
    height: 439px;
    background: #242424;
}
.car-item4 {
    height: 405px;
    background: #E4B564;
    color: #000000;

}

.park-item3 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 15px;
}

.car-item5 {
    height: 255px;
    background: #1F1F1F;
}
.car-item6 {
    height: 313px;
    background: #0E0E0E;
}
.car-item7 {
    height: 281px;
    background: #0A0909;
}

.car-style {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}

.clients {
    display: flex;
    margin-top: 46px;
    justify-content: space-between;
}


.title-clients {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;


}

.project-client {
    margin-top: 191px;

}
.product-active {
    padding: 10px 40px;
    color: #E4B564;
    border: 1px solid;
    border-color: #E4B564;
    text-decoration: none;
}

.project-list {

    display: flex;
    justify-content: center;
    margin-top: 72px;
    flex-wrap: wrap;

}

.project-list>li {
    width: calc(100% / 3);
    height: 391px;

}
.project-item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #634F2C;
}
.project-link {
    display: block;
    text-decoration: none;

}


.project-img.project-img2 {
    padding: 61px 207px 0px 217px;

}

.project-img.project-img3 {
    padding: 3px 174px 0px 173px;
}


.img2-discription {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 80px;
}

.discription-project {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.project-item2 {
    display: flex;
    justify-content: center;
    background: rgba(232, 210, 171, 0.76);
    height: 391px;
}
.project-item3 {
    background: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item4 {
    background: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item5 {
    background: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-item6 {
    background: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}


.parallax-bottom {
    background-image: url("../img/parallax-bg.jpeg");
    margin-bottom: 128px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-top {
    background-image: url("../img/header-bg.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
